.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
  margin: 0; }

.reveal .progress, .reveal .controls {
  background: rgba(0, 0, 0, 0.2);
  color: #81010b; }

.fullscreen-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex; }

body {
  background-color: #fcfcfc; }
